<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Document</title>
</head>
<body>
    <h1>Upload Document</h1>

    <form action="/api/v1/upload/document" method="post" enctype="multipart/form-data">
        <div>
            <label for="document">Document File :</label>
            <br />
            <input type="file" name="document">
        </div>
        <br />
        <button type="submit">Upload Now</button>
    </form>

</body>
</html>
